body {
    background-image: url("images/background2.jpg");
    background-size: 100%;
    color: white;
    font-size: 20px;
    font-family: 'ABeeZee';
}

h1{
    font-size: 50px;
}

a{
    color: darkblue;
    padding-right: 40px;
    font-size: 25px;
}

.active-link{
    color: red;
}


img{
    height: 150px;
    width: 300px;
}

div{
    text-align: center;
}
