<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Egg Sauce Recipe</title>
    <link rel="stylesheet" type="text/css" href="/recipestyle.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
</head>

<body>
<div>
    <a href="crabrecipe.html">Crabcake</a>
    <a href="gyrorecipe.html">Gyro</a>
    <a href="cerealrecipe.html">Cereal</a>
    <a href="wingsrecipe.html">Sichuan Wings</a>
    <a href="gimbaprecipe.html">Gimbap</a>
    <a href="pumpkinricenoodlesrecipe.html">Pumpkin Rice Noodles</a>
    <a th:class="active-link" href="eggsaucerecipe.html">Egg Sauce</a>
    <a href="injerarecipe.html">Injera</a>
    <a href="recipebook.html">Back to Home</a>
</div>
<h1>Egg Sauce Recipe!</h1>
<p>Country of Origin: Nigeria</p>
<img th:src="@{/images/flags/nigeria.png}"/>
<h2>Ingredients:</h2>
<ul>
    <li>2 large tomatoes</li>
    <li>1 large onion</li>
    <li>1 scotch bonnet pepper</li>
    <li>2 tablespoons of cooking oil (any type)</li>
    <li>4 or 5 eggs (depending on number of people eating)</li>
    <li>Seasonings (suya pepper, garlic powder, thyme, etc)</li>
</ul>
<h2>Directions:</h2>
<p>Dice onions, tomatoes and 1 scotch bonnet pepper (depending on how hot you want it to be) or can be replaced with black pepper.</p>
<p>Add the diced onions, tomatoes and pepper into a pot, and cook until some of the juices are dried up.</p>
<p>Then add a table spoon or 2 (enough to cook the eggs) to the mixture.</p>
<p>Fry for a little bit, then add seasonings ( suya pepper gotten from Tesco, any other type of seasoning pepper can be used, garlic powder, Nigerian knorr
    seasoning cubes stock cubes can be used instead but not diluted with water, thyme, pinch of salt and any other seasoning you like).</p>
<p>Then add the eggs and cook until well done.</p>
<p><b>Serves 2-3 people</b></p>
</body>

</html>