<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gimbap Recipe</title>
    <link rel="stylesheet" type="text/css" href="/recipestyle.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
</head>

<body>
<div>
    <a href="crabrecipe.html">Crabcake</a>
    <a href="gyrorecipe.html">Gyro</a>
    <a href="cerealrecipe.html">Cereal</a>
    <a href="wingsrecipe.html">Sichuan Wings</a>
    <a th:class="active-link" href="gimbaprecipe.html">Gimbap</a>
    <a href="pumpkinricenoodlesrecipe.html">Pumpkin Rice Noodles</a>
    <a href="eggsaucerecipe.html">Egg Sauce</a>
    <a href="injerarecipe.html">Injera</a>
    <a href="recipebook.html">Back to Home</a>
</div>
<h1>Gimbap Recipe!</h1>
<p>Country of Origin: South Korea</p>
<img th:src="@{/images/flags/korea.png}"/>
<h2>Ingredients:</h2>
<ul>
    <li>1 cup uncooked glutinous white rice (sushi rice)</li>
    <li>1 &#189; cups water1 tablespoon sesame oilsalt, to taste 2 eggs, beaten</li>
    <li>4 sheets sushi nori (dry seaweed)</li>
    <li>1 cucumber, cut into thin strips</li>
    <li>1 carrot, cut into thin strips</li>
    <li>4 slices American processed cheese, cut into thin strips</li>
    <li>4 slices cooked ham, cut into thin strips</li>
    <li>2 teaspoons sesame oil</li>
</ul>
<h2>Directions:</h2>
<p>Rinse the rice in a strainer or colander until the water runs clear. Combine the rice with water in a saucepan. Bring to a boil, then reduce the heat to low;
    cover and simmer until rice is tender, 12 to 14 minutes. Spread cooked rice onto a baking sheet to cool. Season with 1 tablespoon of sesame oil and salt.</p>
<p>While the rice is simmering, pour the eggs into a skillet over medium-high heat and allow to cook without stirring or turning to get a flat layer of cooked egg.
    When egg is completely cooked, remove from skillet and set aside on a cutting board to cool.</p>
<p>Separate the nori sheets onto a flat surface and divide the cooled rice between them, leaving only a half-inch strip of seaweed visible at the top of each sheet.
    Arrange strips of egg, cucumber, carrot, cheese, and ham in thin layers on top of the rice. Beginning with the bottom of each sheet of nori, use a bamboo sushi mat
    to firmly roll each piece into a cylindrical shape. Brush each roll with 1/2 teaspoon of sesame oil and cut into six even pieces.</p>
<p><b>Serves 3 people</b></p>
</body>

</html>