<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gyro Recipe</title>
    <link rel="stylesheet" type="text/css" href="/recipestyle.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
</head>

<body>
<div>
    <a href="crabrecipe.html">Crabcake</a>
    <a th:class="active-link" href="gyrorecipe.html">Gyro</a>
    <a href="cerealrecipe.html">Cereal</a>
    <a href="wingsrecipe.html">Sichuan Wings</a>
    <a href="gimbaprecipe.html">Gimbap</a>
    <a href="pumpkinricenoodlesrecipe.html">Pumpkin Rice Noodles</a>
    <a href="eggsaucerecipe.html">Egg Sauce</a>
    <a href="injerarecipe.html">Injera</a>
    <a href="recipebook.html">Back to Home</a>
</div>
<h1>Gyro Recipe!</h1>
<p>Country of Origin: Greece</p>
<img th:src="@{/images/flags/greece.png}"/>
<h2>Ingredients:</h2>
<ul>
    <li>1 medium onion, finely chopped or shredded</li>
    <li>2 pounds ground lamb</li>
    <li>1 tablespoon finely minced garlic</li>
    <li>1 tablespoon dried marjoram</li>
    <li>1 tablespoon dried ground rosemary</li>
    <li>2 teaspoons kosher salt</li>
    <li>&#189; teaspoon freshly ground black pepper</li>
    <li>Tzatziki Sauce</li>
</ul>
<h2>Directions:</h2>
<p>Process the onion in a food processor for 10 to 15 seconds and turn out into the center of a tea towel. Gather up
    the ends of the towel and squeeze until almost all of the juice is removed. Discard juice.</p>
<p>Return the onion to the food processor and add the lamb, garlic, marjoram, rosemary, salt, and pepper and process until
    it is a fine paste, approximately 1 minute. Stop the processor as needed to scrape down sides of bowl.</p>
<h2>Cook as Meatloaf:</h2>
<p>Preheat the oven to 325 degrees F.</p>
<p>Place the mixture into a loaf pan, making sure to press into the sides of the pan. Place the loaf pan into a water bath
    and bake for 60 to 75 minutes or until the mixture reaches 165 to 170 degrees F. </p>
<p>Remove from the oven and drain off any fat. Place the loaf pan on a cooling rack and place a brick wrapped in aluminum
    foil directly on the surface of the meat and allow to sit for 15 to 20 minutes, until the internal temperature reaches 175 degrees F. </p>
<p>Slice and serve on pita bread with tzatziki sauce, chopped onion, tomatoes and feta cheese.</p>
<p><b>Serves 6-8 people</b></p>
</body>

</html>