<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pumpkin Rice Noodles Recipe</title>
    <link rel="stylesheet" type="text/css" href="/recipestyle.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
</head>

<body>
<div>
    <a href="crabrecipe.html">Crabcake</a>
    <a href="gyrorecipe.html">Gyro</a>
    <a href="cerealrecipe.html">Cereal</a>
    <a href="wingsrecipe.html">Sichuan Wings</a>
    <a href="gimbaprecipe.html">Gimbap</a>
    <a th:class="active-link" href="pumpkinricenoodlesrecipe.html">Pumpkin Rice Noodles</a>
    <a href="eggsaucerecipe.html">Egg Sauce</a>
    <a href="injerarecipe.html">Injera</a>
    <a href="recipebook.html">Back to Home</a>
</div>
<h1>Pumpkin Rice Noodles Recipe!</h1>
<p>Country of Origin: Taiwan</p>
<img th:src="@{/images/flags/taiwan.png}"/>
<h2>Ingredients:</h2>
<ul>
    <li>100g (3.5 oz) dried rice vermicelli</li>
    <li>2 tablespoons oil</li>
    <li>2 cloves garlic, minced</li>
    <li>100g (3.5 oz) ground pork</li>
    <li>100g (3.5 oz) pumpkin (or kabocha), diced</li>
    <li>&#189; cup water</li>
    <li>2 tablespoons soy sauce</li>
    <li>1 tablespoon sweet soy sauce</li>
    <li>3 dashes white pepper</li>
</ul>
<h2>Directions:</h2>
<p>Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.</p>
<p>Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.</p>
<p>Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.</p>
<p>Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. Continue to stir fry until the
    vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.</p>
<p><b>Serves 1 person</b></p>
</body>

</html>